.App {
  height: 100dvh;
  width: 100%;
  overflow-x: hidden;
  background-color: #eeeeee;
}

.my-thumbs {
  margin-top: 2em;
  width: 20em;
  height: 30em;
  pointer-events: none;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: darksalmon;
}

.nav {
  position: absolute;
  bottom: 0;
  margin: 0.5em;
  width: calc(100dvw - 1em);
  background-color: #bbbbbb;
  border-radius: 2em;
  * {
    height: 5em;
    background-color: rgba(0,0,0,0);
    fill: white;
  }
}

.pill {
  width: 4em;
  height: 35%;
  background-color: white;
  border-radius: 3em;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}
