.App {
  height: 100dvh;
  width: 100%;
  overflow-x: hidden;
  background-color: #eeeeee;
}

.my-thumbs {
  margin-top: 2em;
  width: 20em;
  height: 29.5em;
  pointer-events: none;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

swiper-slide:nth-child(1) {
  background-image: url("static/J2.png");
}
swiper-slide:nth-child(2) {
  background-image: url("static/2.2.png");
}
swiper-slide:nth-child(3) {
  background-image: url("static/4.5.png");
}
swiper-slide:nth-child(4) {
  background-image: url("static/K4.png");
}
swiper-slide:nth-child(5) {
  background-image: url("static/A.5.png");
}
swiper-slide:nth-child(6) {
  background-image: url("static/2.7.png");
}
swiper-slide:nth-child(7) {
  background-image: url("static/Q7.png");
}
swiper-slide:nth-child(8) {
  background-image: url("static/6.4.png");
}

.nav {
  position: absolute;
  bottom: 0;
  margin: 0.5em;
  width: calc(100dvw - 1em);
  background-color: #bbbbbb;
  border-radius: 2em;
  * {
    height: 5em;
    background-color: rgba(0,0,0,0);
    background-image: unset !important;
    fill: white;
  }
}

.pill {
  width: 4em;
  height: 35%;
  background-color: white;
  border-radius: 3em;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}
